body {
    padding-top: 5rem;
}

.image{
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
}

.image li img{
    width: 300px;
    height: 200px;
}
